<!DOCTYPE html>
<html>
    <head>
        <title>
            Avi's Blog
        </title>
    </head>

    <body>
        <div>
            <h1><a href='/'>aviral2004 Blog created by Django</a></h1>
        </div>
        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
        <p face="calibri">
            Using Django for Google Code In 2019.
        </p>
    </body>
</html>